.logoRD {
    position:fixed;
    bottom:0px;
    width: 4%;
    margin-left:94%;
    z-index:-1;
}

.reloj {
    height: 100px;
    width: 100px;
    color:white;
    text-align:center;
    font-size:26px;
    border: solid white;
    /*margin-left:100px;*/
    background-color:rgba(0, 0, 0, 0.60);
    font-family:'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

/*VENTANA LOGIN PAGINA PRINCIPAL*/
/*------------------------------------------------------------------------------------------------------------*/
.panelLogin {
    background-color: rgba(0, 0, 0, 0.60);
    position:absolute;
    margin-left: 572px;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    width:250px;
    height:120px;
}

.divLogin {
    height: 102px;
    margin:5px;
    border: solid white;
    float:left;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.divLoginParejas {
    margin: 2px;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.lblLogin {
    font-size: 18px;
    color: white;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.tbLogin {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.lblLoggedIn {
    position: absolute;
    color: white;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-size: 40px;
    margin-left: 580px;
    margin-top:30px;
    text-shadow: -3px 5px 3px rgba(150, 150, 150, 1);
}
/*------------------------------------------------------------------------------------------------------------*/


/*TEMP*/
.construccion {
    background-color: transparent;
    position: absolute;
    vertical-align: middle;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}
.botonInicio {
    background-color: black;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 1200px;
}

.busquedalbl {
    color:white;
    font-size:26px;
    text-transform:uppercase;
    font-family:'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    text-shadow: -3px 5px 3px rgba(150, 150, 150, 1);
}

.busquedatxt {
    height:24px;
    width:200px;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.botonFecha1 {
    margin-top:15px;
    color:white;
    background-color: rgba(0, 0, 0, 0.60);
    font-size:24px;
    height:40px;
    width:50px;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.botonFecha2 {
    margin-top:15px;
    color:white;
    background-color: rgba(0, 0, 0, 0.60);
    font-size:24px;
    height:40px;
    width:50px;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.btnOrdenesEspera {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    border-radius:10px;
    text-align:left;
    width:100%;
    background:none;
    border: none;
    color: white;
    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

    .btnOrdenesEspera:hover {
        background-color: #808080;
    }

.divCrearPlanografo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    margin-top:270px;
    margin-left:110px;
    position:absolute;
}

.btnCrearPlanografo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    height:60px;
    width:120px;
    background-color: rgba(0, 0, 0, 0.60);
    color:white;
    font-size:14px;
}

.btnBarraHerramientasPlanografo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    height:60px;
    width: 100%;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.60);
    color:white;
    font-size:14px;
}

.lblCrearPlanografo {
    width: 50%;
    float: left;
    color:white;
    font-size:20px;
    text-transform:uppercase;
    font-family:'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.ddlCrearPlanografo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    width: 48%;
    padding:0px;
    /*border:solid;*/
}

.divPopupPlanografo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: rgba(0, 0, 0, 0.60);
    margin-top:20px;
    margin-left:30%;
    /*display:inline-block;*/
    width: 700px;
    height: 335px;
}

.divComponentesPlanografo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    width:33.33%;
    height: 100%;
    float: left;
    margin: 0px;
    padding:0px;
}

.divParejaComponentes {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    margin: 2px;
    padding:0px;
}

.lblOrdenesEspera {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.divColEspera {
    margin-top: 20px;
    margin-left: 32.5%;
    background-color: rgba(0, 0, 0, 0.60);
    /*display:inline-block;*/
    float:left;
    color: white;
    font-family:'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
}

.divListEspera {
    margin-top:10px;
    margin:5px;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    float:left;
}

.btnEstadoEspera {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    width: 95%;
    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
    .btnEstadoEspera:hover {
        background-color: #808080;
    }

.btnCerrarOrdenesEspera {
    position:absolute;
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: rgba(0, 0, 0, 0.60);
    color:white;
    margin-left:15%;
}

.btnPopupToolbar {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    color: white;
    text-align: center;
    margin: 2px;
    width: 100px;
    height: 100px;
    border: solid;
    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
    .btnPopupToolbar:hover {
        background-color: #808080;
    }

.planografotxt {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    height:24px;
    width:150px;
    margin-left:20px;
}

.divPopupParqueo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    /*border: solid white;*/
    background-color: rgba(0, 0, 0, 0.60);
    margin-top:20px;
    padding:10px;
    /*display:inline-block;*/
    width: 900px;
    height: 165px;

}

.divComponentesParqueos {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    width:50%;
    height: 100%;
    float: left;
    margin: 0px;
    padding:0px;
}

.divParejaComponentesParqueo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    margin: 2px;
    padding:0px;
}

.divParqueoLayout {
    background-image: url('/app/Images/backgrounds/parqueo.png');
    background-size :contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.60);
    position:absolute;
    margin-left: 35%;
    width:600px;
    height:600px;
}

.fechaConfig {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-size: 20px;
}

.estiloHorasComidas {
    width: 30px;
    /*background-color: rgba(0, 133, 116, 0.70);*/
    background-color: rgba(194, 77, 0, 0.70);
}

.tbComentariosPlanografo {
    margin-top: 20px;
    height: 50px;
    width: 300px;
}

/*MAIN BODY*/
.bodyMain {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: black;
}

/*LINEAS DECORATIVAS*/
hr#hr1 {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    color: #fff;
    background: #fff;
    width: 650px;
    height: 2px;
    opacity: 0.6;
    position: absolute;
    margin-top: 225px;
    margin-left: 490px;
}
hr#hr2 {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    color: #fff;
    background: #fff;
    width: 650px;
    height: 2px;
    opacity: 0.6;
    position: absolute;
    margin-top: 225px;
    margin-left: 370px;
}

/*LOGO AUTOSTAR*/
.imgLogo {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    width: 311px;
    height: 92px;
    position: absolute;
    margin-top: 125px;
    margin-left: 825px;
    opacity:0.9;
}

/*HEADERS/TITULOS DE PAGINAS*/
h1 {
    color:white;
    position:absolute;
    margin-top:30px;
    margin-left:900px;
    text-transform:uppercase;
    font-family:'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-size:50px;
    text-shadow: -3px 5px 3px rgba(150, 150, 150, 1);
    
}

h2 {
    color:white;
    position:absolute;
    margin-top:30px;
    margin-left:600px;
    text-transform:uppercase;
    font-family:'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    font-size:50px;
    text-shadow: -3px 5px 3px rgba(150, 150, 150, 1);
    
}

/*TABLAS DE BOTONES*/
.table {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    border-collapse: collapse;
}

.tableCell {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 4px;
    padding-bottom: 1px;
    width: 90px;
    height: 90px;
    z-index:2;
}

.botonFull {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    color: white;
    text-align: center;
    margin: 2px;
    width: 100px;
    height: 100px;
    border: solid;
    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
    .botonFull:hover {
        background-color: #808080;
    }

.botonDoble {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    color: white;
    text-align: center;
    margin: 2px;
    width: 200px;
    height: 100px;
    border: solid;
    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    /*Transition*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
    .botonDoble:hover {
        background-color: #808080;
    }

.botonSemi {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: transparent;
    margin: 2px;
    width: 100px;
    height: 100px;
    color: white;
    border: solid;
}

/*TABLE Y BOTON DE TECNICOS DEL PLANOGRAFO DIGITAL*/
.tablePlanografo1 {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    border-collapse: collapse;
    margin:auto;
    margin-top: 5px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.60);
}

.tableCellPlanografoTecnicos {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 0px;
    width:150px;
    height: 30px;
    border:1px solid white;
}

.tableCellPlanografoHoras {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 0px;
    text-align:center;
    width: 30px;
    height: 30px;
    border:none;
    overflow-x:hidden;
}

.tableCellPlanografoHoras_impar {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 0px;
    text-align:center;
    width: 30px;
    height: 30px;
    border-right: 1px solid white;
    overflow-x:hidden;
}

.labelTecnicos {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    color: white;
    text-align: center;
    margin: 2px;
}

.labelHoras {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    color: white;
    text-align: center;
    margin:auto;
}

.botonTecnicos {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    height:100%;
    width:100%;
    color:white;
    background-color:green;
    border:1px solid white;
    margin:0px;
    padding:0px;

}

.titulo_horas {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 0px;
    text-align:center;
    width: 30px;
    height: 30px;
    border:1px solid white;
    overflow-x:hidden;
}

.colorFranjaHora {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    width: 30px;
    z-index:2;
    background: -moz-linear-gradient(left,  rgba(19,19,19,0) 0%, rgba(0,0,0,0.22) 35%, rgba(0,52,70,0.25) 40%, rgba(0,155,211,1) 50%, rgba(0,52,70,0.25) 60%, rgba(0,0,0,0.22) 65%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(19,19,19,0)), color-stop(35%,rgba(0,0,0,0.22)), color-stop(40%,rgba(0,52,70,0.25)), color-stop(50%,rgba(0,155,211,1)), color-stop(60%,rgba(0,52,70,0.25)), color-stop(65%,rgba(0,0,0,0.22)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(19,19,19,0) 0%,rgba(0,0,0,0.22) 35%,rgba(0,52,70,0.25) 40%,rgba(0,155,211,1) 50%,rgba(0,52,70,0.25) 60%,rgba(0,0,0,0.22) 65%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(19,19,19,0) 0%,rgba(0,0,0,0.22) 35%,rgba(0,52,70,0.25) 40%,rgba(0,155,211,1) 50%,rgba(0,52,70,0.25) 60%,rgba(0,0,0,0.22) 65%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(19,19,19,0) 0%,rgba(0,0,0,0.22) 35%,rgba(0,52,70,0.25) 40%,rgba(0,155,211,1) 50%,rgba(0,52,70,0.25) 60%,rgba(0,0,0,0.22) 65%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(19,19,19,0) 0%,rgba(0,0,0,0.22) 35%,rgba(0,52,70,0.25) 40%,rgba(0,155,211,1) 50%,rgba(0,52,70,0.25) 60%,rgba(0,0,0,0.22) 65%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131313', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}



/*
.linkTable {
    color: white;
}

.icono {
    width: 75px;
    height: 75px;
    <area shape="rect" coords="0,0,75,75" >;
}
    */

#main {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    padding: 20px;
    background-color: #D0D0D0;
    border-radius: 0px 4px 4px 4px;
}
/*CONFIGURACION DEL GRIDVIEW PARA MOSTRAR LOS DATOS DE LA BASE*/
.GridViewConfig {
    font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
    background-color:rgba(0, 0, 0, 0.60);
    margin-top:50px;
    border-top:none;
    border-left:none;
    border-right:none;
    color:white!important;
    border-color:rgba(128, 128, 128, 0.50);
    width:100%;
}
    .GridViewConfig a {
        font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
        color:white;
        text-decoration:none;
    }
    .GridViewConfig th {
        font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
        border-bottom:3px solid #fff;
        vertical-align:bottom;
        padding:10px;
        border-top:none;
        text-transform:uppercase;
    }
    .GridViewConfig td {
        font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
        text-align:left;
        padding:3px;
        color:white;
    }
    .GridViewConfig tr {
        
    }
    .GridViewConfig tf {
        font-family: 'Corporate A BQ', Arial, Tahoma, Verdana, FreeSans, sans-serif;
        text-align:center;
    }

/*CODIGO PARA EL CROSSFADE*/
#crossfade > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s;
}

    #crossfade > img:nth-child(2) {
        -webkit-animation-delay: 6s;
        -moz-animation-delay: 6s;
        -o-animation-delay: 6s;
        -ms-animation-delay: 6s;
        animation-delay: 6s;
    }

    #crossfade > img:nth-child(3) {
        -webkit-animation-delay: 12s;
        -moz-animation-delay: 12s;
        -o-animation-delay: 12s;
        -ms-animation-delay: 12s;
        animation-delay: 12s;
    }

    #crossfade > img:nth-child(4) {
        -webkit-animation-delay: 18s;
        -moz-animation-delay: 18s;
        -o-animation-delay: 18s;
        -ms-animation-delay: 18s;
        animation-delay: 18s;
    }

    #crossfade > img:nth-child(5) {
        -webkit-animation-delay: 24s;
        -moz-animation-delay: 24s;
        -o-animation-delay: 24s;
        -ms-animation-delay: 24s;
        animation-delay: 24s;
    }
    /*
    #crossfade > img:nth-child(6) {
        -webkit-animation-delay: 30s;
        -moz-animation-delay: 30s;
        -o-animation-delay: 30s;
        -ms-animation-delay: 30s;
        animation-delay: 30s;
    }
    
    #crossfade > img:nth-child(7) {
        -webkit-animation-delay: 36s;
        -moz-animation-delay: 36s;
        -o-animation-delay: 36s;
        -ms-animation-delay: 36s;
        animation-delay: 36s;
    }

    #crossfade > img:nth-child(8) {
        -webkit-animation-delay: 42s;
        -moz-animation-delay: 42s;
        -o-animation-delay: 42s;
        -ms-animation-delay: 42s;
        animation-delay: 42s;
    }

    #crossfade > img:nth-child(9) {
        -webkit-animation-delay: 48s;
        -moz-animation-delay: 48s;
        -o-animation-delay: 48s;
        -ms-animation-delay: 48s;
        animation-delay: 48s;
    }

    #crossfade > img:nth-child(10) {
        -webkit-animation-delay: 54s;
        -moz-animation-delay: 54s;
        -o-animation-delay: 54s;
        -ms-animation-delay: 54s;
        animation-delay: 54s;
    }*/

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -o-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes imageAnimation {
    0% {
        opacity: 0;
        -ms-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -ms-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*BOTON AUTO DE LA ASIGNACION DE PARQUEOS*/
/*------------------------------------------------------------------------------------------------------------*/
.btnAsignarParqueo1 {
    margin-left: -6px;
    width: 40px;
    height: 40px;
    margin-top: 200px;
}

.btnAsignarParqueo2 {
    margin-left:-23px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo3 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo4 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo5 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo6 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo7 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo8 {
    margin-left:-23px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo9 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo10 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo11 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo12 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo13 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo14 {
    margin-left:-23px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo15 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo16 {
    margin-left:-24px;
    width: 40px;
    height:40px;
    margin-top:200px;
}

.btnAsignarParqueo17 {
    position:absolute;
    margin-left:-343px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo18 {
    position:absolute;
    margin-left:-322px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo19 {
    position:absolute;
    margin-left:-303px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo20 {
    position:absolute;
    margin-left:-282px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo21 {
    position:absolute;
    margin-left:-262px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo22 {
    position:absolute;
    margin-left:-242px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo23 {
    position:absolute;
    margin-left:-222px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo24 {
    position:absolute;
    margin-left:-202px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo25 {
    position:absolute;
    margin-left:-180px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo26 {
    position:absolute;
    margin-left:-160px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo27 {
    position:absolute;
    margin-left:-140px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo28 {
    position:absolute;
    margin-left:-120px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo29 {
    position:absolute;
    margin-left:-100px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo30 {
    position:absolute;
    margin-left:-80px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo31 {
    position:absolute;
    margin-left:-60px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}

.btnAsignarParqueo32 {
    position:absolute;
    margin-left:-40px;
    width: 40px;
    height:40px;
    margin-top:245px;
    transform: rotate(90deg);
}